<!DOCTYPE html>
<td lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

   <!-- 用一个隐形输入框获取id -->

    <table class="project_table">
        <tr>
            <td class="p_head">项目名称：</td>
            <td><input type="text" class="easyui-textbox" id="project_name"></td>
            <td class="p_head">项目类型:</td>
            <td><input type="text" class="easyui-textbox" id="project_type"></td>

        </tr>
        <tr>
            <td class="p_head">项目级别:</td>
            <td><input type="text"  id="project_level"></td>
            <td class="p_head">预计完成时间:</td>
            <td><input type="text" id="project_dateline"></td>
           
        </tr>
        <tr>
            <td class="p_head">项目描述:</td>
            <td colspan="3">
                <input id="project_describe" type="text" class="easyui-textbox" data-options="multiline:'true'," style="width: 100%">
            </td>
        </tr>
        <tr>
            <td class="p_head">客户经理名称:</td>
            <td><input type="text" class="easyui-textbox" id="managerName"></td>
            <td class="p_head">客户经理电话:</td>
            <td><input type="text" class="easyui-textbox" id="managerTel"></td>

        </tr>
        <tr>
            <td class="p_head">客户名称:</td>
            <td><input type="text" class="easyui-textbox" id="clientName"></td>
            <td class="p_head">客户类型:</td>
            <td><input type="text" class="easyui-textbox" id="clientType"></td>
        </tr>
        <tr class="dptManager">
            <td class="p_head">部门主管姓名:</td>
            <td><input id="dptManagerName" type="text" class="easyui-textbox"></td>
            <td class="p_head">部门主管电话:</td>
            <td ><input type="text" class="easyui-textbox"  id="dptManagerTel"></td>
        </tr>
        <tr class="dptHead">
            <td class="p_head">部门领导姓名:</td>
            <td><input id="dptHeadName" type="text" class="easyui-textbox"></td>
            <td class="p_head">部门领导电话:</td>
            <td><input id="dptHeadTel" type="text" class="easyui-textbox"></td>
        </tr>
    </table>
    <div class="add_btn">
        <button class="easyui-linkbutton" data-options="iconCls:'icon-save'"   
         onclick= "submit()">
         提交
        </button>
        <button class="easyui-linkbutton" data-options="iconCls:'icon-save'"   
         onclick= "temp()">
         暂存
        </button>
    </div>

    <script src="/views/project/add.js"></script>
</body>

</td>