<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/views/user/user.css">
</head>
<body>
    <div>
        <br>
         角色名:
        <input type="text" id="hero"><br><br>
        <div class="btn" style="margin-left: 50px;">
                <button id="hero-btn1"></button>
                <button id="hero-btn2"></button>
        </div>
        <br>
        <div class="hero-table" style="margin-left: 10px;">
             <table id="hero-table" ></table>
        </div>
        <div id="hero-dd"></div>
       

    </div>

    <script src="/views/hero/hero.js"></script>
</body>
</html>