<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dialog</title>
</head>

<body>
    <div>
        <table class="look_table">
            <tr class="user_border">
                <td>用户名：</td>
                <td><input type="text" id="look_name" class="look_input"></td>
                <td>手机号：</td>
                <td><input type="text" id="look_tel" class="look_input"></td>
            </tr>
            <tr class="user_border">
                <td>邮箱：</td>
                <td><input type="text" id="look_email" class="look_input"></td>
                <td>部门：</td>
                <td><input type="text" id="look_dpt" class="look_input"></td>
            </tr>
            <tr class="user_border">
                <td>角色：</td>
                <td colspan="3"> <input type="text" id="look_role" class="look_input"></td>
            </tr>
        </table>

    </div>
    <!-- <script src="/views/user/user.js"></script> -->
    <script src="/views/user/look_dialog.js"></script>
</body>

</html>