<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="login_page">
        <div class="login_name">
            <span class="login_head">用户名:</span>
            <input type="text" class="easyui-textbox" id="tel">
        </div>
        <div class="login_psd">
            <span class="login_head">密码:</span>
            <input type="password" class="easyui-textbox" id="pwd">
        </div>
        <div class="login_sub">
            <button class="easyui-linkbutton" id="button">登录</button>
        </div>
    </div>
    <script src="/utils/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script src="/views/login/login.js"></script>
</body>

</html>