<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/views/customer/custom.css"> -->
</head>
<body>
    <div>
        <br>
         客户名:
        <input type="text" id="custom"><br><br>
        <div class="btn" style="margin-left: 50px;">
                <button id="custom-btn1"></button>
                <button id="custom-btn2"></button>
        </div>
        <br>
        <div class="custom-table" style="margin-left: 10px;">
             <table id="custom-table" ></table>
        </div>
        <div id="custom-dd"></div>

    </div>

    <script src="/views/customer/custom.js"></script>
</body>
</html>