<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>dialog</title>
</head>

<body>
    <div>
        <table class="custom-table">
            <tr>
                <td class="head1">客户名称：</td>
                <td><input type="text" id="custom-name" class="easyui-textbox"></td>
                <td class="head1">客户类型：</td>
                <td><input type="text" id="custom-type"></td>
            </tr>
            <tr>
                <td class="head1">客户经理姓名：</td>
                <td><input type="text" id="manager-name" class="easyui-textbox"></td>
                <td class="head1">客户经理电话：</td>
                <td><input type="text" id="manager-tel" class="easyui-textbox"></td>
            </tr>
            <tr>
                <td class="head1">客户经理邮箱：</td>
                <td><input type="text" id="manager-email" class="easyui-textbox"></td>
                <td class="head1">一般纳税人：</td>
                <td><input type="text" id="taxpayer" class="easyui-combobox" data-options="
                    valueField: 'label',
                    textField: 'value',
                    width: 160,
                    editable: false,
                    data: [{
                        label: 'yes',
                        value: '是'
                    },{
                        label: 'no',
                        value: '否'
                    }]"></td>
            </tr>
            <tr>
                <td class="head1">行业类型：</td>
                <td><input type="text" id="industry-type"></td>
                <td class="head1">所属区域：</td>
                <td><input type="text" id="area"></td>
            </tr>
            <tr>

                <td class="head1">有效期：</td>
                <td><input type="text" id="validDate"></td>

            </tr>
            <tr>
                <td class="head1">单位基本信息：</td>
                <td colspan="3" class="info">
                    <div>
                        <span>单位人数：</span>
                        <input type="text" id="person-num" class="underline">
                        <span>人;</span>
                    </div>
                    <div>
                        <span>现有通信现状：天翼：</span>
                        <input type="text" id="phone-num" class="underline">
                        <span>部;电路：</span>
                        <input type="text" id="circuit-num" class="underline">
                        <span> 条;光纤：</span>
                        <input type="text" id="optical-num" class="underline">
                        <span>条;</span>
                    </div>
                    <div>
                        <span> 异网竞争情况： </span>
                        <input type="text" id="condition" class="underline">
                    </div>

                </td>
            </tr>
        </table>
    </div>
    <script>
        $("#validDate").datebox({
            required: true,
            width: 160,
            editable: false,
            formatter: function (date) {
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                var d = date.getDate();
                return y + '-' + m + '-' + d;
            },
        });
        $('#validDate').datebox('calendar').calendar({
            validator: function (date) {
                var now = new Date();
                var today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                return today <= date;
            }
        });
    </script>
    <script src="/views/customer/custom.js"></script>
</body>

</html>